.giftFinder {
  /* align-items: flex-end; */
  height: 465px;
  display: flex;
}
.GiftGame p {
  font-family: GillSansLight;
  letter-spacing: 2.35px;
  font-size: 14px;
  color: #4d4b4b !important;
  font-weight: 600;

  line-height: 19px;
  padding-right: 100px;
  /* text-align: justify; */
}
.GiftGame h2 {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2.7px;
  padding-right: 100px;
}
.btn-specie-gift {
  border-radius: 0;
  width: 225px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-size: 13px;
  /* letter-spacing: 0.75px; */
  /* color: #000000 !important; */
}
.btn-specie-gift:hover {
  background-color: #000000 !important;

  color: #ffffff !important;
}
.GiftZoneVideo video {
  margin-left: -45px;
}
