.mini-nav {
  padding: 0px 30px !important;
  background-color: #f5f5f5;
  margin: auto 0px;
}
.microNavLeft {
  padding: 11px 0px !important;
  /* font-family: Gillsans, sans-serif; */
  font-size: 13px;
  font-weight: 375;
}
.microNavLeft span {
  margin-right: 20px;
}
.microNavLeft span a {
  text-decoration: none;
  color: #242424;
}
.microNavRight {
  padding: 11px 0px !important;

  /* font-family: Gillsans, sans-serif; */
  font-size: 13px;
  font-weight: 300;
  color: #242424;
}
.microNavRight > span {
  margin-left: 20px;
}
.centeredData a {
  letter-spacing: 0.8px;
  font-size: 12px;
  text-transform: uppercase;
  color: #242424;
  text-decoration: none;
  border-bottom: 0.4px solid #242424;
  padding-bottom: 0.3px;
  font-weight: 400;
}
#icon-wishList {
  height: 18px;
  width: 18px;
}
.bagTag {
  text-decoration: none !important;
}
.bagText {
  color: #242424;
  /* margin-left: 5px; */
}

/* Main Nav  */
.logo-container {
  /* background-color: rgb(53, 97, 82); */
  text-align: center;
  margin-top: 22px;
}
.logo-container img {
  height: 25px;
  width: 218px;
}
